@font-face {
  font-family: "ulsanjunggu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galmuri14";
  src: local("Galmuri14 Regular"), url("./Galmuri14.woff2") format("woff2"),
    url("./Galmuri14.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ACCchildrenfall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenfall.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UhBeeSkyrain";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSkyrain.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cute_siu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Cut_siu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainColor: #fdc2e2;
}

button:hover {
  box-shadow: -4px -4px 0 10px #2a49e2, 4px 4px 0 0px #b83ff4;
}

button:active {
  box-shadow: -4px -4px 0 3px #207cd7, 4px 4px 0 0px #42c9d3;
  transition: all 0.3s;
}

.myName {
  text-decoration: underline wavy var(--mainColor);
}

.myName {
  font-family: "ulsanjunggu";
  margin-left: 50px;
  font-size: 48px;
}

.myJob {
  text-decoration: underline solid #f4eb85;
  font-family: "Cafe24Shiningstar";
  margin-left: 250px;
  font-size: 58px;
}

.myFavorite {
  font-family: "UhBeeSkyrain";
  margin-left: 400px;
  font-size: 44px;
}

.myHobby {
  text-decoration: underline dotted #a671f5;
  font-family: "ACCchildrenfall";
  margin-left: 150px;
  font-size: 48px;
}

button {
  background-color: rgba(158, 197, 255, 0.228);
  padding: -10px 5px;
  padding-left: 5px;
  /* border: 1px solid black; */
  margin-top: 40px;
  font-size: 30px;
  font-family: "Cute_siu";
  border-radius: 1ch;
  border-color: rgb(114, 199, 255);
  box-shadow: 0px 0px 0 0px #1c79ea, 2px 2px 0 2px #efaffa;
  transition: all 0.5s;
}
