@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangSangFlowerRoad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SangSangFlowerRoad';
}

div {
	background-color: peru;
}

button {
    background-color: rgba(230, 156, 76, 0.813);
    padding: 10px 48px;
    padding-left: 8px;
    /* border: 1px solid black; */
    margin-top: 12px;
    font-size: 24px;
    font-family: 'ChosunGs';
    box-shadow: -4px -4px 0 3px #1c79ea, 4px 4px 0 5px #c4ef29;
    transition: all 0.5s;
}

button:hover {
	box-shadow: -4px -4px 0 10px #2a49e2, 4px 4px 0 0px #b83ff4;
}

button:active {
	box-shadow: -4px -4px 0 3px #207cd7, 4px 4px 0 0px #42c9d3;
}